.preloader
.menu-bar-container
    .menu-bar
        a(href='/')
            img.logo(src='/img/logos/sinai-logo.png?v2' srcset='/img/logos/sinai-logo-2x.png?v2 2x, /img/logos/sinai-logo-3x.png?v2 3x' width='125' height='75' alt='Sin.ai Logo')