.preloader
.menu-bar-container
    .menu-bar
        a(href='/')
            img.logo(src='/img/logos/sinai-logo.png' srcset='/img/logos/sinai-logo-2x.png 2x, /img/logos/sinai-logo-3x.png 3x' width='120' height='72' alt='Sin.ai Logo')