* {
  margin: 0;
  padding: 0;
}

#artcontainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#artcontainer a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}