* {
  margin: 0;
  padding: 0;
}

#artcontainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#artcontainer a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#artcontainer img {
  max-width: 100%;
  max-height: 100%;
}

.temp {
  height: 1500px;
}

#_1,
#_4 {
  background-color: red;
}

#_2,
#_5 {
  background-color: blue;
}

#_3,
#_6 {
  background-color: green;
}