* {
  margin: 0;
  padding: 0;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Center the images horizontally */
  width: 1000px;
  margin: 0 auto;
}

.image-column img {
  max-width: 100%;
}

/* Additional styles for smooth scrolling (optional) */
html {
  scroll-behavior: smooth;
}
