:root {
  --content-width: 1000px;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Anek Kannada', sans-serif; */
  font-family: 'Inter', sans-serif;
  /* Inter */
  font-feature-settings: "cpsp", "frac", "zero", "ss01", "cv05", "cv10", "cv11";
  /* Inter Italic: -10 – 0 */
  font-variation-settings: "slnt" 0;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.3);
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/inter-var-319.woff2') format('woff2');
}

body {
  width: 100%;
  background-color: black;
  color: white;
  /* Custom and scalable cursor */
  /* cursor: url('custom-cursor.svg') 50% 50%, auto; */
}

/* Menu Bar */

.menu-bar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, black 5px, transparent);
  background-size: 100% 100%;
  background-position: center top;
  pointer-events: none;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 1);
  /* Fix Safari sticky header glitch */
}

.menu-bar {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
  pointer-events: none;
}

.menu-bar a {
  pointer-events: auto;
}

.menu-bar .logo {
  height: 77px;
  width: auto;
  animation: colorChange 7s infinite alternate;
}

/* Content */

.content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  vertical-align: middle;
}

/* .art-container */

.image-column .art-container {
  margin-top: 160px;
  display: block;
}

.image-column .art-container:first-child {
  margin-top: 20px;
}

.image-column .image-info {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.single-image .image-info {
  width: 100%;
}

.content .active {
  height: auto;
  opacity: 1;
}

/* Image Info */

.image-info {
  border: 3px solid rgb(171, 0, 214);
  border-radius: 15px;
  animation: colorChange 7s infinite alternate;
  background: rgb(30, 0, 78);
  background: linear-gradient(125deg, rgb(17, 0, 46) 0%, rgb(24, 0, 65) 100%);
  margin-top: 26px;
}

.image-info h2 {
  /* padding-top: 16px; */
  /* padding-bottom: 15px; */
  padding: 16px 15px 15px 15px;
  font-weight: 800;
  font-size: 3rem;
  font-stretch: 100%;
  letter-spacing: 0.01em;
  text-align: center;
}

.image-info span {
  font-size: 1rem;
  padding-top: 26px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  text-decoration: overline;
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.image-info p {
  padding-left: 15px;
}

/* Wallpaper Download Area */

.download-area {
  box-sizing: border-box;
  /* padding-top: 26px; */
  /* padding-bottom: 36px; */
  padding: 26px 15px 36px 15px;
  width: 100%;
  text-align: center;
}

select {
  border: 3px solid rgb(171, 0, 214);
  border-radius: 15px;
  /* animation: colorChange 7s infinite alternate; */
  background: transparent;
  color: #ffffff;
  padding: 15px 0px 15px 18px;
  font-size: 1.6rem;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 32px; /* Add space for the custom arrow */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  width: 250px;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: rgba(171, 0, 214, 0.1);
  color: white;
}

a.wallpaper-button {
  color: #ffffff;
  padding: 18px 5px;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block; /* Change from "block" to "inline-block" */
  margin: 0px 5px; /* Center horizontally */
  background-color: rgb(171, 0, 214);
  border: none;
  border-radius: 15px;
  transition-duration: 0.4s;
  text-decoration: none;
  width: 250px;
}


a.wallpaper-button:hover {
  background-color: #4CAF50;
  color: white;
}

a.wallpaper-button:active {
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}


/* Footer */

.bottom-gradient {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background: linear-gradient(to top, black 5px, transparent);
  background-size: 100% 100%;
  background-position: center bottom;
  pointer-events: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  /* Fix Safari sticky footer glitch */
}

.footer {
  max-width: var(--content-width);
  margin: 300px auto -15px auto;
  /* padding: 20px; */
  box-sizing: border-box;
  text-align: center;
  /* margin-bottom: -10px; */
}

.footer a {
  color: rgb(171, 0, 214);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
.menu-bar .logo {
  height: 77px;
  width: auto;
  animation: colorChange 7s infinite alternate;
};
.menu-bar .logo {
  height: 77px;
  width: auto;
  animation: colorChange 7s infinite alternate;
};
  animation: colorChange 7s infinite alternate;
  text-decoration: overline;
  text-shadow: none;
  text-transform: uppercase;
}

/* Page Loading Indicator */

.preloader {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: calc(50vh - 24px) calc(50vw - 24px);
  animation: pulsate 1.5s infinite;
}

/* Tooltip */
span.touchit {
  position: absolute;
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  animation: hoverUpAndDown 0.5s infinite alternate;
}

span.touchit:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
  top: 44px;
  left: 25px;
}

/* Legal */

.legal {
  text-align: left;
}

.legal h2 {
  padding-bottom: 10px;
  max-width: 600px;
}

.legal p {
  padding: 10px 0;
  width: 100%;
  max-width: 600px;
}

.legal a {
  color: white;
  font-weight: 600;
  width: 100%;
  max-width: 600px;
  padding-right: 10px;
  text-align: right;
}

/* Keyframe animation */
@keyframes hoverUpAndDown {
  0% {
    bottom: 0;
    /* Start position */
  }

  100% {
    bottom: 5px;
    /* End position */
  }
}

/* Animations */

@keyframes pulsate {
  0% {
    transform: scale(0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }

  50% {
    transform: scale(1);
    border-color: rgba(255, 255, 255, 1);
  }

  100% {
    transform: scale(0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }
}

/* Define the animation */
@keyframes colorChange {
  0% {
    filter: hue-rotate(30deg);
    /* Start with the original color */
  }

  100% {
    filter: hue-rotate(-80deg);
    /* End with a full hue rotation (360 degrees) */
  }
}

/* Media Queries */
@media screen and (max-width: 1366px) and (orientation: landscape) {
  :root {
    --content-width: 60vw;
  }
}

/* Media Queries */
@media screen and (max-width: 670px) {
  .image-info h2 {
    font-size: 2rem;
  }
  select.dropdown, a.wallpaper-button {
    font-size: 1.4rem;
    width: 200px;
    box-sizing: border-box;
    border-width: 2px;
  }
  .image-info {
    border-width: 1px;
  }
}

/* Image Loading Indicator

.image-overlay {
  position: relative;
  background-color: white;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes pulsing {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.image-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; 
  animation: pulsing 2s infinite;
} */