:root {
  --content-width: 1024px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  background-color: black;
  color: white;
}

/* Menu Bar */

.menu-bar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, black 5px, transparent);
  background-size: 100% 100%;
  background-position: center top;
  pointer-events: none;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 1); /* Fix Safari sticky header glitch */
}

.menu-bar {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 20px 5px 40px 15px;
  box-sizing: border-box;
  pointer-events: none;
}

.menu-bar a {
  pointer-events: auto;
}

.menu-bar .logo {
  height: 77px;
  width: auto;
  animation: colorChange 7s infinite alternate;
}

/* Content */

.content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px 20px 15px;
}

.content img {
  max-width: 100%;
  margin: 60px 0;
  border-radius: 15px;
}

.image-column .image-info {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.single-image .image-info {
  width: 100%;
}

.content .active {
  height: auto;
  opacity: 1;
}

/* Image Info */

.image-info {
  border: 2px solid magenta;
  border-radius: 15px;
  animation: colorChange 7s infinite alternate;
}

.image-info h2 {
  padding: 15px;
}

.image-info p {
  padding-left: 15px;
}

.download-area {
  padding: 15px;
}

/* Footer */

.bottom-gradient {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background: linear-gradient(to top, black 5px, transparent);
  background-size: 100% 100%;
  background-position: center bottom;
  pointer-events: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);  /* Fix Safari sticky footer glitch */
}

.footer {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.footer a {
  color: darkred;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
}

/* Buttons */

.wallpaper-button {
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.wallpaper-button:hover {
  background-color: #4CAF50;
  color: white;
}

.wallpaper-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Page Loading Indicator */

.preloader {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: calc(50vh - 24px) calc(50vw - 24px);
  animation: pulsate 1.5s infinite;
}

/* Animations */

@keyframes pulsate {
  0% {
    transform: scale(0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }

  50% {
    transform: scale(1);
    border-color: rgba(255, 255, 255, 1);
  }

  100% {
    transform: scale(0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }
}

/* Define the animation */
@keyframes colorChange {
  0% {
    filter: hue-rotate(30deg);
    /* Start with the original color */
  }

  100% {
    filter: hue-rotate(-80deg);
    /* End with a full hue rotation (360 degrees) */
  }
}



/* Image Loading Indicator

.image-overlay {
  position: relative;
  background-color: white;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes pulsing {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.image-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; 
  animation: pulsing 2s infinite;
} */