- var nr = "13"
- var headTitle = "Wallpaper #" + nr + " ✦ Sin.ai"
- var bodyTitle = "A Goddess of Success and Enlightenment"
- var bodySubtitle = "Free Desktop Wallpaper #" + nr
- var metaDescription = "Free Desktop Wallpaper Artwork #" + nr + "! A Goddess of Success and Enlightenment"
- var date = "20230923"
- var imgPath = "/img/wallpapers/"
- var imgAlt = "Free Wallpaper Artwork #" + nr + ": A Goddess of Success and Enlightenment"
- var imgWidth = "960"
- var imgHeight = "600"
- var imgSlugS = "-wallpaper-artwork-s.jpeg"
- var imgSlugHD = "-wallpaper-artwork-hd.jpeg"
- var imgSlug4k = "-wallpaper-artwork-4k.jpeg"
- var imgSlug5k = "-wallpaper-artwork-5k.jpeg"
- var imgSlug8k = "-wallpaper-artwork-8k.jpeg"
- var lang = "en"

include /pug/page.pug