<IfModule mod_rewrite.c>
    RewriteEngine On

    # Combine HTTP to HTTPS and subdomain redirections
    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} !^sin\.ai$
    RewriteRule ^(.*)$ https://sin.ai/$1 [L,R=301]

    # Remove trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [R=301,L]

    # Remove .html extension from URLs and redirect
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^/]+)\.html$ /$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^([^/]+)/?$ $1.html [L]
</IfModule>

# <IfModule mod_expires.c>
#     # Enable caching for images, CSS, JavaScript, and JSON files
#     ExpiresActive On
#     ExpiresByType image/jpg "access plus 1 week"
#     ExpiresByType image/jpeg "access plus 1 week"
#     ExpiresByType image/png "access plus 1 week"
#     ExpiresByType text/css "access plus 1 week"
#     ExpiresByType application/javascript "access plus 1 week"
#     ExpiresByType application/json "access plus 1 week"
# </IfModule>

<IfModule mod_headers.c>
    # Set Content Security Policy (CSP) header
    Header set Content-Security-Policy "default-src 'self';"

    # Set X-Content-Type-Options header
    Header set X-Content-Type-Options "nosniff"

    # Set X-Frame-Options header to prevent clickjacking
    Header always append X-Frame-Options SAMEORIGIN

    # Set Strict Transport Security (HSTS) header for enhanced security
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>

# # Custom Error Pages
# ErrorDocument 404 /404.html
# ErrorDocument 500 /500.html

# Additional Security Measures
<Files xmlrpc.php>
    order deny,allow
    deny from all
</Files>
