doctype html
html(lang='en')
  head(itemscope itemtype='https://schema.org/WebPage')
    include /pug/page-head.pug
    include /pug/page-head-icons-html.pug

  body
    include /pug/page-body-top.pug
    .header
      h1.slogan Sinfully Free
      h2.slogan AI Generated Wallpapers
      //- h3.slogan Free Downloads, from Full HD to 8K mega Resolution!
    //- Content
    .content.image-column
      //-
         <div class="touchit-container">
              <span class="touchit">
                  Touch it!
              </span>
            </div> 
      .art-container
        a#_13(href='/13')
          img(src='/img/wallpapers/13-wallpaper-artwork-s.jpeg' srcset='/img/wallpapers/13-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #13')
      .art-container
        a#_12(href='/12')
          img(src='/img/wallpapers/12-wallpaper-artwork-s.jpeg' srcset='/img/wallpapers/12-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #12')
      .art-container
        a#_11(href='/11')
          img(src='/img/wallpapers/11-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/11-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #11')
      .art-container
        a#_10(href='/10')
          img(src='/img/wallpapers/10-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/10-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #10')
      .art-container
        a#_9(href='/9')
          img(src='/img/wallpapers/9-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/9-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #9')
      .art-container
        a#_8(href='/8')
          img(src='/img/wallpapers/8-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/8-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #8')
      .art-container
        a#_7(href='/7')
          img(src='/img/wallpapers/7-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/7-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #7')
      .art-container
        a#_6(href='/6')
          img(src='/img/wallpapers/6-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/6-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #6')
      .art-container
        a#_5(href='/5')
          img(src='/img/wallpapers/5-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/5-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #5')
      .art-container
        a#_4(href='/4')
          img(src='/img/wallpapers/4-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/4-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #4')
      .art-container
        a#_3(href='/3')
          img(src='/img/wallpapers/3-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/3-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #3')
      .art-container
        a#_2(href='/2')
          img(src='/img/wallpapers/2-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/2-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #2')
      .art-container
        a#_1(href='/1')
          img(src='/img/wallpapers/1-wallpaper-artwork-s.jpeg' loading='lazy' srcset='/img/wallpapers/1-wallpaper-artwork-hd.jpeg 2x' width='960' height='600' alt='Wallpaper Artwork #1')
    .footer
      a(href='/legal' target='_blank' rel='nofollow') Privacy / Disclaimer / Contact
    .bottom-gradient
    script(src='/vendor/gsap.min.js')
    script(src='/vendor/ScrollTrigger.min.js')
    script(src='/js/app.js?' + date)
    script(src='/js/index.js?' + date)
