
doctype 
html(lang='en')
    head
        meta(charset='utf-8')
        title Sin.ai
        link(rel='manifest' href='manifest.json')
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='img/icon.png')
        meta(name='description', content='A Progressive Web App Builder')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include css/_bootstrap.css
        style
            include css/index.css
            
    body

        .image-scroller
            img(src='img/10.png')
            img(src='img/9.png')
            img(src='img/8.png')
            img(src='img/7.png')
            img(src='img/6.png')
            img(src='img/5.png')
            img(src='img/4.png')
            img(src='img/3.png')
            img(src='img/2.png')
            img(src='img/1.png')

        script
            include js/index.js